:root {
  background-color: #264653;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

// * font ***********************************************************

@font-face {
  font-family: PoppinsMedium;
  src: url('/font/Poppins/Poppins-Medium.ttf');
}
@font-face {
  font-family: PoppinsLight;
  src: url('/font/Poppins/Poppins-Light.ttf');
}
@font-face {
  font-family: PoppinsBold;
  src: url('/font/Poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: PoppinsExtraBold;
  src: url('/font/Poppins/Poppins-ExtraBold.ttf');
}

$Poppins300: PoppinsLight, system-ui, Helvetica, Arial, sans-serif;
$Poppins500: PoppinsMedium, system-ui, Helvetica, Arial, sans-serif;
$Poppins700: PoppinsBold, system-ui, Helvetica, Arial, sans-serif;
$Poppins800: PoppinsExtraBold, system-ui, Helvetica, Arial, sans-serif;

// * text & color ***************************************************

$lightgreen: #2a9d8f;
$darkgreen: #264653;
$yellow: #e9c46a;
$white: #ffffff;
$red: #a16171;

// * mixins ***************************************************

@mixin text-style($ff, $fz, $c) {
  font-family: $ff;
  font-size: $fz;
  color: $c;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

// * genereal element style ************************************

// h1 {
//   @include text-style($Roboto700, 6.4rem, $gray3, normal);
//   @include size(35%, 80.3rem);
// }

button {
  cursor: pointer;
}

// - header ***************************************************

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $darkgreen;
  height: 18rem;
  padding: 0 17rem 0 17rem;

  div.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 6.5rem;

    a {
      text-decoration: none;
    }

    p {
      @include text-style($Poppins700, 5rem, $lightgreen);
    }
  }

  div.add {
    @include text-style($Poppins500, 2.5rem, $lightgreen);
  }
}

section.searchbar {
  input,
  button {
    border-radius: 50px;
  }

  input {
    @include size(50rem, 6rem);
    @include text-style($Poppins300, 3rem, $lightgreen);
    background-color: $darkgreen;
    border: 3px solid $lightgreen;
    margin-right: 3.6rem;
    padding-left: 2rem;

    &::placeholder {
      @include text-style($Poppins300, 3rem, rgba(42, 157, 143, 0.5));
    }
  }

  button {
    @include size(20rem, 6rem);
    @include text-style($Poppins500, 3rem, $white);
    background-color: $lightgreen;
    border: none;
  }
}

// - home - movie list ***************************************************

div.bg-img {
  width: 100vw;
  height: 100vh;
  background-image: url('img/moviemagic.png');
  background-size: cover;
  background-position: center;

  h1 {
    @include text-style($Poppins800, 6.5rem, $red);
    width: 56%;
    margin: 0 auto;
    padding-top: 32rem;

    span {
      color: $darkgreen;
      text-shadow: -2px -2px 0 $red, 2px -2px 0 $red, -2px 2px 0 $red,
        2px 2px 0 $red;
    }
  }
}

h2.home-h2 {
  @include text-style($Poppins800, 6.5rem, $lightgreen);
  margin: 20rem 0 0 17rem;
}

section.movie-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 8rem auto 15rem auto;
  padding: 0 17rem 30rem 17rem;
  gap: 15rem;

  article.movie-item {
    @include size(100%, 47vh);
    display: flex;
    flex-direction: column;
    gap: 2rem;

    a {
      text-decoration: none;

      div.home-flex {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        div.img-container {
          width: 100%;
          height: 65rem;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        div.text {
          p.title {
            @include text-style($Poppins500, 2rem, $white);
          }
          p.rating {
            @include text-style($Poppins300, 2rem, $lightgreen);
          }
        }
      }
    }
  }
}

// - favorites ***************************************************

// - detailpage ***************************************************
main.detailpage {
  width: 90vw;
  padding: 17rem 12rem 30rem 12rem;
  margin-bottom: 20rem;

  section.movie-details {
    margin: 5rem auto;

    h1,
    h2 {
      @include text-style($Poppins700, 6rem, $red);
    }
    p {
      @include text-style($Poppins300, 3rem, $white);
      margin-bottom: 6rem;
    }

    div.button-wrapper {
      display: flex;
      div.add-delete {
        @include size(32rem, 4rem);
        display: flex;
        background-color: $darkgreen;
        border: 1px solid $yellow;
        border-radius: 50px;
        margin-right: 3.6rem;
      }
      button.fav {
        @include text-style($Poppins700, 2rem, $yellow);
        background-color: $darkgreen;
        border: none;
        padding-left: 2rem;
      }

      button.add-fav {
        padding-left: 5rem;
      }

      button.edit {
        @include size(15rem, 4rem);
        @include text-style($Poppins700, 2rem, $lightgreen);
        background-color: $darkgreen;
        border: 1px solid $lightgreen;
        border-radius: 50px;
        margin-right: 3.6rem;
      }
    }
    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      margin-top: 2rem;

      div.image {
        width: 100%;
        img {
          width: 100%;
        }
      }

      div.text {
        padding: 0 5%;

        div.genres {
          display: flex;
          gap: 1rem;
          margin-bottom: 3rem;

          p.genre {
            font-size: 2rem;
            border-radius: 20px;
            background-color: darkcyan;
            padding: 0.5rem 2rem;
          }
        }

        h2 {
          font-size: 6rem;
          margin-bottom: 1rem;
        }

        p.plot {
          font-size: 2.5rem;
          margin-bottom: 3rem;
        }
      }
    }
  }

  section.edit-movie {
    margin: 20rem auto;

    article {
      display: flex;
      flex-direction: column;
      gap: 5rem;

      input,
      textarea {
        @include text-style($Poppins300, 3rem, $lightgreen);
        background-color: $darkgreen;
        border: 1px solid $lightgreen;
        border-radius: 50px;
        margin-right: 3.6rem;
        padding: 0 2rem;
      }

      input {
        @include size(70rem, 6rem);

        &#submit-edit {
          @include text-style($Poppins500, 3rem, $white);
          background-color: $lightgreen;
          border: none;
        }
      }

      textarea {
        width: 70rem;
        padding: 1rem 2rem;
      }
    }
  }
  div.edit-message {
    margin-top: 5rem;
    p {
      @include text-style($Poppins300, 3rem, $lightgreen);
    }
  }
}

// - footer ***************************************************

footer {
  @include size(100%, 14rem);
  @include text-style($Poppins500, 3rem, $darkgreen);
  background-color: $lightgreen;
  position: fixed;
  bottom: 0;

  div.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 17rem 0 17rem;

    div.slogan {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    div.logos {
      display: flex;
      gap: 3rem;
    }
  }
}
